{% extends 'base.html.twig' %}

{% block title %}User Profile {% endblock %}

{% block body %}
<link href="{{ asset('profilepage/style.css') }}" rel="stylesheet">
<div class="container-profile">
<div id="vcard">
  <div id="card-content">
    <div id="profile">
      <span class="avatar">
        <span class="typicons-user icon"></span>
        <span class="info">
       {{ app.user.username}}
          <br />
        </span>
      </span>
    </div>
    <div id="options">
      <ul>
        <li><span class="typicons-mail icon"></span> E-mail : {{app.user.email}}</li>
        
        <li><span class="typicons-time icon"></span>  Join Date : {{app.user.doj}}</li>
        <li><span class="typicons-user icon"></span>  Role : {% if is_granted('ROLE_ADMIN') %}
                                                                        ADMINISTRATOR
                                                              {% elseif is_granted('ROLE_MODERATOR') %}
                                                                           MODERATOR
                                                                          {% else %}
                                                                            USER
                                                                        {% endif %} </li>
    
      </ul>
    </div>
  </div>
  <div id="side-bar">
    <ul>
      <li><span class="typicons-edit icon"></span><a href="#">Edit Profile</a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
