{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

<head>
     <link href="{{ asset('homepage/custom.css') }}" rel="stylesheet">
</head>
    
        <div class="homepage-container">
        </div>
   

    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><br> Phone : +1(23) 456 7890</p>
				<p><br> E-mail : info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; Example.com 2018</p>
        	</div>
        </div>
        
    </footer>
    </style>
{% endblock %}
