{% extends 'base.html.twig' %}

{% block title %} Admin/ User Roles{% endblock %}

{% block body %}

     	<link rel="icon" type="image/png" href="{{asset('adminpage/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('adminpage/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('adminpage/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('adminpage/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('adminpage/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('adminpage/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{asset('adminpage/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{asset('adminpage/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Username</th>
								<th class="column2">E-mail</th>
								<th class="column3">Date of Join</th>
								<th class="column4">ROLE</th>
							</tr>
						</thead>
						<tbody>
                                {% for user in users %}
								<tr>
									<td class="column1"><a href="{{ path('edituser', {id: user.id} )}} ">{{ user.username }}</td>
									<td class="column2">{{user.email}}</td>
									<td class="column3">{{user.doj}} </td>
									<td class="column4"> {{ user.roles|join(', ') }}   </td>
								</tr>
                                     {% endfor %}
                                     
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{{asset('adminpage/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{asset('adminpage/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{asset('adminpage/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{asset('adminpage/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{asset('adminpage/js/main.js') }}"></script>


{% endblock %}
