{% extends 'base.html.twig' %}

{% block title %} Admin/ User Roles{% endblock %}

{% block body %}
<div class="panel">
    <div class="panel-heading">
        {{ user.username}}
    </div>
    <div class="panel-body">
        {{form(form)}}
    </div>
</div>

{% endblock %}
