@import url(https://fonts.googleapis.com/css?family=Exo:500,700);
.homepage-container {
    width: 100%;
    height: 800px;
    background-image: url('images/header.jpg');
    background-position: center;
}


.page-footer {
	text-align: center;
	}

.page-footer .contact {
	padding: 10px 0;
    background-color: #57b846;
    font-family: Exo;
    font-size: 15px;
    line-height: 1.5;
	color: #black;
	}

.page-footer .contact p {
	font-family: Exo;
    font-size: 15px;
    line-height: 1.5;
	font-weight: 300;
    }
    		
.page-footer .small-print {
    padding: 0 10px;
    font-family: Exo;
    font-size: 10px;
	font-weight: 300;
	}
