@import url(http://weloveiconfonts.com/api/?family=typicons);
@import url(https://fonts.googleapis.com/css?family=Exo:500,700);

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

body {
}
.container-profile {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
#vcard {
  margin: 0 auto;
  width: 800px;
  height: 450px;
  background: rgb(242, 243, 248);
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0,0,0, .3);
}
#card-content {
  width: 700px;
  float: left;
  height: 100%;
  
}
#side-bar {
  width: 100px;
  float: right;
  background: #fff;
  height: 100%;
  border-radius: 0 4px 4px 0;
  box-shadow: -5px 0px 15px rgba(0,0,0, .3);
}
#profile { 
  height: 300px;
  border-bottom: solid 1px rgba(48, 46, 46, 0.829);
}
#options ul {
  margin: 0;
  padding: 0;
}
#options ul li{
  text-align: center;
  font-family: Exo;
  font-size: 15px;
  color: #666666;
  list-style-type: none;
  display: inline-block;
  width: 32%;
  height: 100%;
  border-right: solid 1px rgba(48, 46, 46, 0.829);
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
#options ul li:last-child{

  border-right: none;
}
#options ul li span.icon {
  display: block;
  margin-top: 25px;
  color: #666666;
  font-size: 35px;
  line-height: 32px;
}

#side-bar ul {
  margin: 0;
  padding: 0;
}
#side-bar ul li{
  
  text-align: center;
  font-family: Exo;
  font-size: 12px;
  color: #414141;
  list-style-type: none;
  display: inline-block;
  width: 100px;
  height: 115px;
  border-bottom: solid 1px #eaeaea;
  
}
#side-bar ul li:last-child{

  border-bottom: none;
}
#side-bar ul li span.icon {
  display: block;
  margin-top: 25px;
  color: #414141;
  font-size: 36px;
  line-height: 32px;
}

#profile {
  padding-top: 50px;
  text-align: center;
  overflow: hidden;
}
span.avatar span.icon{
  display: inline-block;
  color: white;
  font-size: 72px;
  line-height: 100px;
  background: #57b846;
  border: solid 3px rgba(255,255,255, .2);
  overflow: hidden;
  padding-top: 1px;
  width: 90px;
  height: 90px;
  border-radius: 46px;
}
span.info {
  padding-top: 10px;
  display: block;
  font-family: Exo;
  font-size: 25px;
  color: black;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}