 {% extends 'base.html.twig' %}

{% block title %}Sign Up!{% endblock %}

{% block stylesheets %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ asset('loginpage/images/icons/favicon.ico"') }} "/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('loginpage/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('loginpage/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('loginpage/vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ asset('loginpage/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('loginpage/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('loginpage/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('loginpage/css/main.css') }}">
{% endblock %}

{% block body %}

	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{{ asset('loginpage/images/img-01.png') }}" alt="IMG">
				</div>
				{{ form_start(form, {'attr': {'novalidate':'novalidate','class' : 'login100-form', 'method':'POST'}})}}
					<span class="login100-form-title">
						Member Sign Up
					</span>
					<div class="wrap-input100 ">
					{{ form_widget(form.username, {'attr': {'class': 'input100','placeholder':'Username'}}) }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
						{{ form_errors(form.username)}}
                    <div class="wrap-input100">
					{{ form_widget(form.email, {'attr': {'class': 'input100','placeholder':'E-mail'}}) }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
						{{ form_errors(form.email)}}
					<div class="wrap-input100">
						{{ form_widget(form.password.first, {'attr': {'class': 'input100','placeholder':'Password'}}) }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
				
                    <div class="wrap-input100">
					{{ form_widget(form.password.second, {'attr': {'class': 'input100','placeholder':'Confirm Password'}}) }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					{{ form_errors(form.password.first)}}
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
                            Register
						</button>
					</div>
				{{form_end(form)}}
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{{ asset('loginpage/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('loginpage/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('loginpage/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('loginpage/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ asset('loginpage/vendor/tilt/tilt.jquery.min.js') }}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{{ asset('loginpage/js/main.js') }}"></script>

{% endblock %}