<!DOCTYPE html>
<html>
 		<title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ asset('header/header-login-signup.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
        {% block stylesheets %}{% endblock %}
        {% if app.user %}
<header class="header-login-signup">

	<div class="header-limiter">

		<h0><a href="#">Symfony<span>Project</span></a></h0>

		<nav>
			<a href="{{ path('home')}}">Home</a>
			<a href="{{ path('blog')}}" class="selected">Blog</a>
			<a href="#">Pricing</a>
		</nav>

		<ul>
		{% if is_granted('ROLE_ADMIN') %}
		 <li><a href=" {{ path('admin')}} "> Admin </a></li>
		{% endif %}
		  <li><a href=" {{ path('logout')}} "> Logout </a></li>
		  <li><a href=" {{ path('profile')}} "> My Profile </a></li>
		</ul>
	</div>
</header>
  
 		{% else %}

<header class="header-login-signup">
	<div class="header-limiter">
		<h0><a href="#">Symfony<span>Project</span></a></h0>
		<nav>
			<a href="{{ path('home')}}">Home</a>
			<a href="{{ path('blog')}} " class="selected">Blog</a>
			<a href="#">Pricing</a>
		</nav>
		<ul>
			<li><a href="{{ path('login') }}">Login</a></li>
			<li><a href="{{ path('register') }}">Sign up</a></li>
		</ul>
	</div>
</header>
 		{% endif %}
 <body>
        {% block body %}{% endblock %}
</body>
        {% block javascripts %}{% endblock %}
</html>
